body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: center;
}

nav div, nav ul, nav li {
    display: inline-block;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #000;
    display: block;
    min-width: 100px;
    padding: 25px 20px;
    font-weight: bold;
    text-align: center;
}

nav a:hover {
    color: darkblue;
}

/* Card appearance */
.card {
    padding: 20;
    margin: 10;
}
