<!doctype html>

<html>

    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block script %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/style.css" rel="stylesheet" />
        <link href="static/favicon.ico" rel="shortcut icon" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    </head>

    <body>
        <header>
            <div class="logo font"><a href="/"><span class="red">S</span><span class="green">e</span><span class="purple">t</span></a></div>
            <!-- <div class="nav">
            <nav>
                
                <ul>
                    <li>
                        <a href="/rules">Rules</a>
                    </li>
                    <li>
                        <a href="/leaderboard">Leaderboard</a>
                    </li> 
                </ul>
            </nav>
            </div> -->
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
        </footer>
  
    </body>

</html>