<!doctype html>

<html>

    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href="static/style.css" rel="stylesheet" />
        <link rel="shortcut icon" href="static/favicon.ico">
    </head>

    <body>
        <header>
            <nav>
                <div class="logo"><a href="/">Set</a></div>
                <ul>
                    <li>
                        <a href="/">Game</a>
                    </li>
                    <li>
                        <a href="/leaderboard">Leaderboard</a>
                    </li>
                    <li>
                        <a href="/rules">Rules</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
        </footer>
  
    </body>

</html>