<!doctype html>

<html>

    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/style.css" rel="stylesheet" />
        <link rel="shortcut icon" href="static/favicon.ico">
    </head>

    <body>
        <header>

            <div class="nav">
            <nav>
                <div class="logo"><a href="/">Set</a></div>
                <ul>
                    <li>
                        <a href="/rules">Rules</a>
                    </li>
                    <li>
                        <a href="/leaderboard">Leaderboard</a>
                    </li>
                </ul>
            </nav>
            </div>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
        </footer>
  
    </body>

</html>