{% extends "base.html" %}

{% block title %}
    Set
{% endblock %}

{% block main %}
    <table>
    {% for row in range(rows) %}
    <tr>
        {% for column in range(columns) %}
            <td>
                {% if columns * row + column < cards|length %}
                <div class="card">
                    [
                    {{cards[columns * row + column].color}}
                    {{cards[columns * row + column].number}}
                    {{cards[columns * row + column].form}}
                    {{cards[columns * row + column].fill}}
                    ]
                </div>
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

    <div>
        <p>Score: 0</p>
        <form action="/", method="post">
            <button name="deal_more" value="deal_more">Add 3 cards</button>
        </form>
        <form action="/", method="post">
            <button name="restart" value="restart">Restart</button>
        </form>
    </div>
{% endblock %}