{% extends "base.html" %}

{% block title %}
    Set
{% endblock %}

{% block main %}
    <table>
    {% for row in range(rows) %}
    <tr>
        {% for column in range(columns) %}
            <td>
                <div class="card">
                    [
                    {{cards[columns * row + column].color}}
                    {{cards[columns * row + column].number}}
                    {{cards[columns * row + column].form}}
                    {{cards[columns * row + column].fill}}
                    ]
                </div>
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

    <div>
        <p>Score: 0</p>
        <button>Add 3 cards</button>
        <button>Restart</button>
    </div>
{% endblock %}