{% extends "base.html" %}

{% block title %}
    Set
{% endblock %}

{% block script %}
    <script src="static/scripts.js"></script>
{% endblock %}

{% block main %}

    <div class="menubar">
        <p class="menubar_item deck">{{deck}} cards left</p>
        <form class="menubar_item" action="/", method="post">
            <button id="deal_more" name="deal_more" value="deal_more">Add cards</button>
        </form>
        <form class="menubar_item" action="/", method="post">
            <button id="restart" name="restart" value="restart">Restart</button>
        </form>
        <p class="menubar_item score">{{score}} sets</p>
        <p class="menubar_item result"></p>
    </div>

    <div class="card-table">
    {% for row in range(rows) %}
        {% for column in range(columns) %}
                {% if columns * row + column < cards|length %}
                <div class="card" id="{{cards[columns * row + column].id}}">
                    <div class="card-content" id="{{cards[columns * row + column].id}}">
                    {% for n in range(cards[columns * row + column].number+1) %}

                        <!-- Different types of suits -->
                         <div id="{{cards[columns * row + column].id}}" class="suit color{{cards[columns * row + column].color+1}} form{{cards[columns * row + column].form+1}} fill{{cards[columns * row + column].fill+1}}">
                            
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
        {% endfor %}
    {% endfor %}
    </div>

{% endblock %}