{% extends "base.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block account %}
    {% if login %}
        <a href="/account">Account</a>
    {% else %}
        <a href="/login">Sign in</a>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="leaderboard">
    <h1 class="leaderboard">Leaderboard</h1>

    <table>
        <thead>
            <tr>
                <th>#</th><th>username</th><th>games finished</th><th>sets collected</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th>{{user.rank}}</th><th>{{user.name}}</th><th>{{user.games}}</th><th>{{user.sets}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}