{% extends "base.html" %}

{% block title %}
    Rules
{% endblock %}

{% block main %}
    <a href="https://en.wikipedia.org/wiki/Set_(card_game)">Set</a> is a simple card game, where you need to collect certain combinations of cards from those laid out on the table. See also Numberphile on this game for detailed explanation of rules:<br/><br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EkFX9jUJPKk?si=pIY4Is3qtUMR8UtO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endblock %}